*~
*.epub
*.log

*.aux
*.fls
*.fdb
*.fdb_latexmk
*.log
*.out
*.toc
*.ptc
*_svg-tex.pdf
*_svg-tex.pdf_tex

matemat/*.tex
matemat/*.pdf
matemat/tikz/*.pdf
matemat/texpdf/*.org
matemat/texpdf/*.tex
matemat/texpdf/*.pdf
matemat/texpdf/svg-inkscape/*.*
!matemat/texpdf/matemat.pdf

tags
TAGS
Grenier
